@import "bootstrap";

.navbar {
    background-color: $navbar-bg-color;
    border: 0;
    border-radius: 0;

    .btn {
        background: none;
        border: 0;
        border-radius: 0;
        padding: 0;

        &:hover {
            background: #486991;
        }

        .icon {
            color: #1e3c5f;
            font-size: $navbar-btn-font-size;
            margin: ($navbar-height - $navbar-btn-font-size) / 2 $navbar-btn-font-size - 2;
        }

        &:focus .icon {
            color: #fff;
        }
    }
}

.projects {
    color: #4d4d4d;

    .icon {
        color: #999;
        margin-right: 4px;
    }
}
