$navbar-height:                     42px;
$navbar-bg-color:                   #507299;
$navbar-margin-bottom:              0;
$navbar-padding-vertical:           10px;
$navbar-default-brand-hover-bg:     #486991;
$navbar-default-link-color:         #fff;
$navbar-default-link-hover-bg:      #486991;
$navbar-default-link-hover-color:   #fff;
$navbar-btn-font-size:              18px;
$navbar-default-brand-color:        #fff;
$navbar-default-brand-hover-color:  #fff;
$navbar-default-brand-hover-bg:     none;
