{% extends 'AppBundle::layout.html.twig' %}


{% block content %}{% verbatim %}
    <script type="text/ng-template" id="projects.html">
        <div class="projects">
            <h3 class="col-sm-12 projects__title">
                <i class="icon glyphicon glyphicon-th-list"></i> Projects
            </h3>

            <div class="col-sm-4 project" ng-repeat="project in projects | orderBy: 'sort'">
                &#187; <a class="project__title" ui-sref="project({ id: project.id })">{{ project.title }}</a>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="project.html">
        <div class="boards">
            <div class="col-sm-2 board" ng-repeat="board in project.boards | orderBy: 'sort'">
                <div class="board__title"><strong>{{ board.tasks.length }}</strong> {{ board.title }}</div>

                <ul class="list-group tasks">
                    <div class="list-group-item task" ng-repeat="task in board.tasks | orderBy: 'priority'">
                        <a class="task__summary" ui-sref="task({ id: task.id, project: project.id })">{{ task.title }}</a>
                    </div>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="task.html">
        <div class="task">
            <div class="col-sm-8">
                <div class="task__title">{{ task.title }}</div>
                <div class="task__description">{{ task.description }}</div>
            </div>

            <div class="col-sm-4">
                <table class="table table-bordered">
                    <tr>
                        <td>Created At</td>
                        <td>{{ task.createdAt }}</td>
                    </tr>
                    <tr>
                        <td>Updated At</td>
                        <td>{{ task.updatedAt }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </script>
{% endverbatim %}{% endblock %}
