<!DOCTYPE HTML>
<html lang="{{ app.request.locale }}" data-ng-app="pmApp">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'app.title' | trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
</head>
<body>
    <div class="layout">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar__toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="navbar-brand">Task Manager</div>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-primary" ui-sref="projects()">
                                <i class="icon glyphicon glyphicon-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary" ui-sref="projects()">
                                <i class="icon glyphicon glyphicon-info-sign"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary" ui-sref="projects()">
                                <i class="icon glyphicon glyphicon-bell"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary" ui-sref="projects()">
                                <i class="icon glyphicon glyphicon-cog"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div ui-view></div>

            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{{ asset('assets/js/app.js') }}"></script>
</body>
</html>
