{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ 'app.security.denied.title' | trans }}{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1 class="page-header">{{ 'app.security.denied.title' | trans }}</h1>

        <div class="text-danger">{{ 'app.security.denied.description' | trans }}</div>
    </div>
{% endblock %}
