{% extends "AppBundle:Security:layout.html.twig" %}

{% block title %}{{ 'app.security.login' | trans }}{% endblock %}

{% block content %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">{{ error.message | trans }}</div>
        {% endif %}

        {{ form(form) }}
    </div>
{% endblock %}
